*{
	margin: 0;
	padding: 0;
}
.bold{
	font-weight: bold;
}
form{
	display: inline-block;
	width: 400px;
	margin: 50px 300px;
}
input[type="submit"]{
	display: block;
}
table{
	border-collapse: collapse;
	border: 1px solid #000000;
	table-layout: fixed;
	margin: 20px auto;
	width: 400px;
	text-align: center;
}
td,th{
	width: 50px;
	height: 15px;
}
th{
	border-bottom: 1px solid #000000;
}
td:first-child{
	border-right: 1px solid #000000;
}
#container{
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: scroll;
	background-color: #FFFFFF;
}
#wrapper{
	position: relative;
	width: 1000px;
	margin: 0px auto;
}
#title{
	position:relative;
	vertical-align: top;
	text-align: center;
	width: 1000px;
}
#body{
	width: 800px;
	margin: 0px auto;
	overflow: scroll;
}
#footer{
	position:relative;
	width: 1000px;
}
#footer p{
	text-align: right;
	margin-right: 50px;
}
#footer a{
	margin: 0px 15px;
}